<main class="col-md-10">
  <div class="wrapper-container">
    <div class="wrapper">
      
      <table class="table table-sm table-dark table-hover"  id="table" *ngIf="seeTable">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Relative Bugs</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projects">
            <td><input class="form-control-plaintext" [(ngModel)]="project.title"></td>
            <td><button class="btn" [routerLink]="['../bugs',project.id]" routerLinkActive="active">Visualizza</button></td>
          </tr>
         
        </tbody>
      </table>
    
      <form #bugForm="ngForm">

        <div class="form-group">
          <label for="title">Project title:</label>
          <input name="title" id="title" placeholder="title" [(ngModel)]="projecttoinsert.title" #title=ngModel class="form-control" [class.is-invalid]="title.invalid && title.touched" required>
          <small [class.d-none]="title.valid || title.untouched">A title is required</small>
        </div>

        <div>
          <button class="btn insert" (click)="insert(projecttoinsert)">Insert</button>
          <button class="btn" (click)="clear()">Clear</button>
        </div>
      </form>
    </div>
  </div>

  <button id="moveButt" class="btn" data-target="#table" (click)="showInsertForm()">{{moveButton}}</button>

</main>