.wrapper-container {
	width: 70vw;
	height: 25vh;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .wrapper-container::-webkit-scrollbar {
	  display: none;
  }
  
  form {
	background-color: #FFFCF9;
	height: 40%;
	width: 70vw;
	border-radius: 5px;
	padding: 2% 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
  }
  
  .form-group {
	width: 100%;
  }
  
  table {
	height: 100%;
	width: 70vw ! important;
	font-size: 15px;
  }

  input {
	font-size: 15px;
  }
  
  td, th {
	vertical-align: middle ! important;
  }

  table .form-control-plaintext {
	color: black;
  }

  table select {
	color: black;
  }
  
  table .btn {
	font-size: 15px;
  }
  