<main class="col-md-10">
  <div class="wrapper-container">
    <div class="wrapper">
      
      <table class="table table-sm table-dark table-hover"  id="table" *ngIf="seeTable">
        <thead>
          <tr>
            <th scope="col">Solution</th>
            <th scope="col">User Id</th>
            <th scope="col">Bug Id</th>
            <th scope="col">Relative Users</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solution of solutions">
            <td><input class="form-control-plaintext" [(ngModel)]="solution.solution"></td>
            <td><input class="form-control-plaintext" [(ngModel)]="solution.user.id" readonly></td>
            <td><input class="form-control-plaintext" [(ngModel)]="solution.bug.id" readonly></td>
            <td><button class="btn" (click)="getListUser(solution.user.id)">Visualizza</button></td>
          </tr>
         
        </tbody>
      </table>
    
      <div *ngIf="bugId=='undefined'">
        <form #bugForm="ngForm">

          <div class="form-group">
            <label for="solution">Solution:</label>
            <input  name="solution" id="solution" placeholder="Solution" [(ngModel)]="solutiontoinsert.solution" class="form-control">
          </div>

          <div class="form-group">
            <p>User Id:  {{user.id}}</p>
          </div>

          <div class="form-group">
            <label for="bugId">Bug Id: </label>
            <select name="bugId" id="bugId" [(ngModel)]="solutiontoinsert.bug.id" class="form-control">
              <option *ngFor="let bug of bugs" [value]="bug.id">{{bug.id}}</option>
            </select>
          </div>
  
          <div>
            <button class="btn insert" (click)="insert(solutiontoinsert)">Insert</button>
            <button class="btn" (click)="clear()">Clear</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>

  <button id="moveButt" class="btn" data-target="#table" (click)="showInsertForm()">{{moveButton}}</button>

</main>