<div>
    <h2 id="page-heading">
        <span>Solutions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-solution" [routerLink]="['/solution/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Solution
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="solutions?.length === 0">
        <span>No solutions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="solutions && solutions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Solution</span></th>
                    <th scope="col" ><span>Bug</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let solution of solutions ;trackBy: trackId">
                    <td><a [routerLink]="['/solution', solution.id, 'view']">{{ solution.id }}</a></td>
                    <td>{{ solution.solution }}</td>
                    <td>
                        <div *ngIf="solution.bugId">
                            <a [routerLink]="['/bug', solution.bugId , 'view']" >{{ solution.bugId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/solution', solution.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/solution', solution.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(solution)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
