<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bug">
            <h2><span>Bug</span> {{ bug.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{ bug.code }}</span>
                </dd>
                <dt><span>State</span></dt>
                <dd>
                    <span>{{ bug.state }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ bug.description }}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{ bug.date }}</span>
                </dd>
                <dt><span>Dependence List</span></dt>
                <dd>
                    <span>{{ bug.dependenceList }}</span>
                </dd>
                <dt><span>Project</span></dt>
                <dd>
                    <div *ngIf="bug.projectId">
                        <a [routerLink]="['/project', bug.projectId, 'view']">{{ bug.projectId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bug', bug.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
